.header {
  overflow: hidden;
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  color: #9DCAD8;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

#heart {
  width: 70px;
  height: 100px;
  margin-left: 16px;
  margin-right: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#images {
  height: 230px;
  width: 360px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgparent {
  display: flex;
  flex-wrap: wrap;
}


h5 {
  font-family: 'Abril Fatface', cursive;
  color: #9DCAD8;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .imgparent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
