.header {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  color: white;
  margin-left: 0px;
  margin-right: 0px;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  color: black;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

#heart {
  width: 70px;
  height: 100px;
  margin-left: 16px;
  margin-right: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#images {
  height: 230px;
  width: 360px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgparent {
  display: flex;
  flex-wrap: wrap;
}
