.header {
  overflow: hidden;
  background-color: #C8DFE6;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: white;
}

#heart {
  width: 70px;
  height: 100px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.images {
  margin-top: 30px;
  height: 100px;
  width: 350px;
}
